@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GRIFTER Bold 700";
  src: url(../public/fonts/GRIFTER\ Bold\ 700.otf);
}

@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Inter-Regular.ttf);
}

.font-display {
  font-family: "GRIFTER Bold 700", sans-serif !important;
}

.landing-image {
  perspective: 100px;
}

.landing-image img {
  /* position: absolute; */
  transform-origin: bottom;
  transform-style: preserve-3d;
  transform: rotateX(5deg) scaleY(75%);
}

.slide1 {
  animation: slide1 60s -60s linear infinite;
}

.slide2 {
  animation: slide2 60s -30s linear infinite
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}


